.App {
  text-align: center;
  height: 100%;
}

.App .List-Box{
  width: 30%;
  height: 100%;
  margin: 15px 10px 15px 10px;
  padding: 15px 10px 15px 10px;
  text-align: start;
}

.App .List-Box .List {
  max-height: 60vh;
  overflow-y: scroll;
}

.Shadow{
  box-shadow: 0px 1px 20px 0px #cecdcd
}

.Divider {
  width: 100%;
  border-top: 1px solid #cecdcd;
}

.Form-Search {
  display: flex;
  padding: 20px;
}

.Form-Search button {
  border:none;
  border-radius: 1.5rem;
  background-color: #0059E6;
  color: white;
  padding: 5px 15px;
}

.Form-Search button:active{
  background-color: #0049b6;
}

.Form-Search input {
  padding: 10px 15px;
  width: 100%;
  margin-right: 10px;
  border-radius: .8rem;
  border-color: lightgray;
  border-style: solid;
}

.Form-Search input:focus{
  outline: none;
  border-color: #0059E6;
}

.Row {
  padding: 15px 10px 15px 10px;
  display: flex;
}

.Row .Body {
  width: 100%;
}

.Row h2 {
  text-align: start;
  margin: 0;
}

.Row p {
  text-align: start;
  margin: 10px 0 0 0;
}

.Row .Icon-right {
  flex-shrink: inherit;
  justify-self: end;
  align-self: center;
}