.App {
  text-align: center;
  height: 100%;
}

.App .List-Box{
  height: 100%;
  text-align: start;
}

.List {
  max-height: 60vh;
  overflow-y: scroll;
}

.List .Item {
  cursor: pointer;
}

.Border-Right{
  border-right: 1px solid lightgray;
}

.Border-Radius{
  border-radius: 1.5rem!important;
}

.Border-Left{
  border-left: 1px solid lightgray;
}

.Border-Bottom {
  border-bottom: 1px solid lightgray;
}

.Shadow{
  box-shadow: 0px 1px 20px 0px #cecdcd
}

.Divider {
  width: 100%;
  border-top: 1px solid #cecdcd;
}

.Icon-size{
  width: 30px;
}

.Text-White {
  color: white !important;
}

.Box {
  padding: .7rem 1rem;
  background: white;
  border-radius: .3rem;
}
