.Input-Form-Search {
    border:1px solid #0A53BE;
    height: 2.5rem;
    padding-left: 1rem;
    border-radius: 1.5rem;
    background: white;
}

.Button-Form-Search {
    height: 2.5rem;
    width: 2.5rem;
    background: #0A53BE;
    color: white;
}

.Button-Form-Search:hover{
    border:1px solid #0A53BE;
    background: white;
    color: #0A53BE;
}

.Button-Form-Cancel {
    height: 2.5rem;
    width: 2.5rem;
    background: #ff4d4f;
    color: white;
}


.Button-Form-Cancel:hover {
    color: #ff4d4f;
    background: white;
    border:1px solid #ff4d4f;
}
