.NavBar{
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavBar ul {
    display: flex;
    position: relative;
}

.NavBar ul a {
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    color: #0059E6;
}


.NavBar .Active {
    text-decoration: none;
    border-radius: 1.5rem;
    background-color: #0059E6;
    color: white;
}